@mixin colorsFooterHeader {
  background-color: #a69076;
  color: #594839;  
  
}


/*body*/
body{
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;
    .nav-link{
      color: #594839;

      }
  }
  
      .container {
        margin: 0px;
        padding: 0px;
        display: grid ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 2.4fr 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "Header Header"
            "Section Section"
            "Footer Footer";
        width: 100%;
        height: 100%;
        display: contents;
        margin: 0px;
        pad: 0px;}
    
  /*desktop*/
  @media only screen and (min-width: 1100px)
  {

      .Header{
          @include colorsFooterHeader();
          grid-area: Header;
          display: flex;
          justify-content: space-around;
          color: #a69076;
                    .header_logo {
                        margin: auto;
                        align-self: center;
                    }
                    .header_menu{
                        align-self: center;

                      }


                        /* estos modificadores van por fuera porque se rompen al ser incluídos en header_menu
                        porque son extraídos de Bootstrap*/
                    .header_menu--ul{
                        list-style: none;
                        display: contents;


                    }

                    .header_menu--ul{
                        align-self: center;
                    }

                  

                  
                } 
        .Section{
        grid-area: Section;
        background-color: #594839;
        display: flex;
        color: #A69076;
        justify-content: space-evenly;
        padding: 20px;
        display: -webkit-box-flex;
  
          .section_dos {
            width: 50%;  
            text-align: center;
            align-self: center;
            h1{
              font-family: Roboto;
              font-style: normal;
              font-weight: 900;
              font-size: 54px;
              line-height: 63px;

            }
            
            h2{
              font-family: Roboto;
              font-style: normal;
              font-weight: bold;

              line-height: 45px;
            }


            .section_dos--listaServicios{
            list-style: none;
        }

        .section_dos--article{
          width: auto;
          text-align: center;
          .section_dos--articleTitle{
          font-size: 36px;
        }
      }
      .section_uno--article{
        width: auto;
        text-align: center;
        .section_uno--articleTitle{
        font-size: 36px;
      }
    }
            }
        
            
          .section_uno{
            width: 50%;  
            text-align: center;
            align-self: center;

            .section_uno--contacto {
              grid-area: Section;
              flex-direction: column;
              justify-content: center;
              background-color: #594839;
              display: flex;
              color: #A69076;
              justify-content: space-evenly;
              padding: 20px;
            }
            .section_uno--iframe
            {
              width: -webkit-fill-available;
              height: 500px;
            }

            /*  SECTION UNO ARTICLE TIENE IDÉNTICO ESTILO A SECTION DOS ARTICLE*/
            .section_uno--article{
              @extend .section_dos--article;

              
              .section_uno--articleTitle{
              @extend .section_dos--articleTitle
            }
          }

          }

          article{text-align: center;}

            }

  
      .Footer { 
              @include colorsFooterHeader();
              grid-area: Footer; 
              display: flex;
              justify-content: space-around;
              }
            }
        
  /*fin desktop*/
  /*tablets*/
  @media only screen and (max-width: 1100px) 
  { 
        .Header { grid-area: Header;
                  background-color: #a69076;
                  display: flex;
                  justify-content: space-around; 
                flex-direction: column;
                color: #594839;

            .header_logo{
                margin: auto;
                align-self: center;
            }
            .header_menu{
              align-self: center;
                
            .header_menu--ul { list-style: none;
                display: contents;
                margin: auto;
            }
            .header_menu--li{
                align-self: center;
            }
          }

                    }
                  
        .Section { grid-area: Section;
                  background-color: #594839;
                  display: flex;
                flex-direction: column-reverse;
                color: #A69076;
                justify-content: space-evenly;
              padding: 20px;
               
            .section_uno {align-self: auto;
                          text-align: center;
              


              .section_uno--article{
                width: 100%;
                text-align: center;
                .section_uno--articleTitle{
                  font-size: 36px;
                }
            
            }
            .section_uno--fotoServicios{
            max-width: -webkit-fill-available;
          }
            .section_uno--contacto {
              grid-area: Section;
              flex-direction: column;
              justify-content: center;
              background-color: #594839;
              display: flex;
              color: #A69076;
              justify-content: space-evenly;
              padding: 20px;
            }  
                          /*IFRAME COMOLLEGAR.HTML*/        
                          .section_uno--iframe{width: 100%;}
                          /*FIN IFRAME*/
          }
            .section_dos {text-align: center;
                        align-self: center;
                      
                        .section_dos--article{
                          width: 100%;
                          text-align: center;
                          .section_dos--articleTitle{
                            font-size: 36px;
                          }      
                      
                      }


    }
                       }
        .Footer { grid-area: Footer;
                  background-color: #a69076; 
                display: flex;
                justify-content: space-around;
                color: #594839}
            }
          
  /*fin tablets*/
  
  /* celulares*/
  
  @media only screen and (max-width: 600px)
  {
    .Header { grid-area: Header;
      background-color: #a69076;
      display: flex;
      justify-content: space-around; 
    flex-direction: column;
    color: #594839;

        .header_logo {
        margin: auto;
        }


    
        .header_menu {
        width:30%;
        align-self: center;
        
            .header_menu--ul { list-style: none;
            display: contents;
            }
        
            .header_menu--li
            {
            align-self: center;
          }
        }
        }
      
  .Section { grid-area: Section;
      background-color: #594839;
      display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    color: #A69076;
    justify-content: space-evenly;
    padding: 20px;


        .sectionUno {align-self: auto;
        
          .section_uno--iframe{width: 100%;}


            /* sectionContacto tiene un estilo distinto para trabajar bootstrap,
            además es un section con un elemento y no dos */
            .section_uno--contacto {
              grid-area: Section;
              flex-direction: column;
              justify-content: center;
              background-color: #594839;
              display: flex;
              color: #A69076;
              justify-content: space-evenly;
              padding: 20px;
            }  
          /* FIN SECTION CONTACTO*/ 
          .section_uno--fotoServicios{
            max-width: -webkit-fill-available;
          }
        }
  
        .sectionDos {text-align: center;
              align-self: center;}

 

    

            }
  
            /*En celulares ESCONDEMOS el footer por una cuestión estética y de estilo*/
  .Footer { 
    grid-area: Footer;
    background-color: #a69076; 
    display: flex;
    justify-content: space-around;
    color: #594839}
  }
  
  
  /*fin celulares*/